@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.parallax {
    /* The image used */
    background-image: url("bg.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spaceing {
    left: 50px;
}

.spaceing2 {
    left: 100px;
}

.spaceing3 {
    left: 150px;
}

body {
    background: rgb(239, 230, 255);
}

h1 {
    font-family: "Poppins";
    font-size: 30;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

a {
    font-family: "Poppins";
        padding-bottom: 50px;
        margin-bottom: 50px;
        position: relative;
}

p {
    font-family: "Poppins";
}

img {
    width: 30%;
}

.fa-tools {
    font-size: 40;
}

.squarerealistic {
    height: 150px;
    width: 150px;
    background-color: rgb(54, 50, 50);
    box-shadow: 10px 10px 8px rgb(39, 35, 35);
    position: relative;
    animation: testanimation 5s infinite;
}

@keyframes testanimation {
    0% {top: 0px;}
    25% {top: 200px;}
    50% {top: 500px;}
    80% {top: 18px;}
    100% {top: 100px;}
}